.App, .App-Ref {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgb(172, 182, 229), rgb(134, 253, 232));
    background-size: cover;
    background-position: bottom;
}

.App-Ref {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-can {
    user-select: none;
    position: absolute;
    bottom: 25px;
    right: 25px;
}